<div id="contact" class="clearfix">
  
  <h2 class="text-center small-header"><span>800–472–1522 </span></h2>
  <div class="contact-text">
    <p>info@suitless.com</p>
    <p><span>skype:</span> suitlessHandle</p>
    <p><span>fb:</span> suitless</p>
    <p><span>twitter:</span> suitless</p>
  </div>
  <div class="contact-box clearfix">
    <form action="mailer.php" method="POST" id="contact_form" class="clearfix">
    <input type="text" name="name" placeholder="Name" id="name" class="float-left">
    <input type="email" name="email" name="_replyto" placeholder="Email" id="email" class="float-left clear-both">
    <textarea name="message" placeholder="Tell us briefly about your company and what type of services you're interested in..." id="message" cols="40" rows="10"></textarea>
    <input class="submit" type="submit" value="Send">
    </form>
    <span id="notice" class="hidden">Thanks. We will get back to you soon.</span>
  </div>


</div>
<footer class="bg-white clearfix100-">
  <div class="width-33 float-left">
    <h4 class="uppercase semibold text-black">SUITLESS INC.</h4>
    <p>800-472-1522</p>
    <p>info@suitless.com</p>
    <p><span>skype:</span> suitlessHandle</p>
    <p><span>fb:</span> suitless</p>
    <p><span>twitter:</span> suitless</p>
  </div>
  <div class="width-28 float-left">
    <h4 class="uppercase semibold text-black">Quick Links</h4>
    <p>Human Resources</p>
    <p>Tax</p>
    <p>Law</p>
    <p>About</p>
    <p>Pricing</p>
  </div>
  <div class="width-38 float-left">
    <p>Fast growing companies use <span class="semibold">Suitless</span> for strategic <span class="semibold">HR</span>, <span class="semibold">legal</span> and <span class="semibold">tax</span> solutions. Suitless fixes all of the things that could, <span class="italic">but shouldn’t,</span> waste entrepreneurs’ time.</p>
    </br>
    <p>Get the equivialent of your big corporate competitors’ HR, legal and tax knowledge <span class="italic">at a fraction of what you’d pay for an entry-level office manager!</span></p>
  </div>
</footer>
