<footer class="">

  <div id="contact" class="clearfix">
    <h2 class="">Want to get in </br>touch?<span> Let's Talk.</span></h2>
    <p>1-800-472-1522</p>
  </div>
  
  <span class="divider"></span>
  
  <div class="footer-info">
    <img src="http://flanban.github.io/redolent-octo-kumquat/images/footer-logo-suitless.png" />
    <h4 class="header-1">Suitless Inc.</h4>
    <p>info@suitless.com</p>
    <p>1-800-472-1522</p>
  </div>
  <span class="divider"></span>
  <ul class="footer-links">
    <li><a href="{{ site.baseurl }}/" {% if page.slug == 'home' %}class='current'{% endif %}>Home</a></li>
    <li><a href='{{ site.baseurl }}/about' {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>     
    <li><a href='{{ site.baseurl }}/teams' {% if current[1] == 'teams' %}class='current'{% endif %}>Teams</a></li>     
    <li><a href='{{ site.baseurl }}/jobs' {% if current[1] == 'jobs' %}class='current'{% endif %}>Jobs</a></li>     
    <li><a href='{{ site.baseurl }}/ventures' {% if current[1] == 'ventures' %}class='current'{% endif %}>Ventures</a></li>     
    <li><a href='{{ site.baseurl }}/investors' {% if current[1] == 'investors' %}class='current'{% endif %}>Investors</a></li>     
    <li><a href='{{ site.baseurl }}/pricing' {% if current[1] == 'pricing' %}class='current'{% endif %}>Pricing</a></li>     
    <li><a href='{{ site.baseurl }}/'></a></li>     

  </ul>
  
  <span class="divider"></span>
  
  <div class="footer-maps">
    <div>
      <a target="_blank" href="https://www.google.com/maps/dir//Tijuana,+mexico">
        <img src="http://flanban.github.io/redolent-octo-kumquat/images/map-seattle.jpg" />
      </a>
      <p class="semibold">Seattle, WA</p>
      <p>456 Park Ave.</p>
    </div>
    <div>
      <a target="_blank" href="https://www.google.com/maps/dir//Tijuana,+mexico">
        <img src="http://flanban.github.io/redolent-octo-kumquat/images/map-dc.jpg" />
      </a>
      <p class="semibold">Washington, DC</p>
      <p>123 High St.</p>
    </div>
  </div>
  
</footer>
