{% assign current = page.url | downcase | split: '/' %}

<header>
  <a href="{{ site.baseurl }}/" class="header-logo">
    <img src="http://flanban.github.io/redolent-octo-kumquat/images/suitless-logo.png" height="" width="">
  </a>
  <nav>  
    <ul class="clearfix">
      <li><a href="{{ site.baseurl }}/" {% if page.slug == 'home' %}class='current'{% endif %}>Home</a></li>
      <li><a href='{{ site.baseurl }}/about' {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
      <li><a href="{{ site.baseurl }}/hr" {% if current[1] == 'hr' %}class='current'{% endif %}>HR</a></li>
      <li><a href="{{ site.baseurl }}/tax" {% if current[1] == 'tax' %}class='current'{% endif %}>Tax</a></li>
      <li><a href="{{ site.baseurl }}/law" {% if current[1] == 'law' %}class='current'{% endif %}>Law</a></li>
    </ul>
  </nav>
</header>

<!-- mobile logo -->
<a href="{{ site.baseurl }}/" class="header-logo-mobile">
  <img src="http://flanban.github.io/redolent-octo-kumquat/images/suitless-logo.png" height="" width="">
</a>

<!-- hamburger icon -->
<section class="si-icons si-icons-default">
	<span class="si-icon si-icon-hamburger-cross hamburger" data-icon-name="hamburgerCross"></span>
</section>