<header>
  <h1>
    <a href="{{ site.baseurl }}/" class="header-logo">
      <img src="http://flanban.github.io/redolent-octo-kumquat/images/suitless-logo.png" height="" width="">
    </a>
  </h1>
  <nav>
    <ul class="clearfix">
      <li><a class="active" href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/">About</a></li>
      <li><a href="{{ site.baseurl }}/">HR</a></li>
      <li><a href="{{ site.baseurl }}/">Tax</a></li>
      <li><a href="{{ site.baseurl }}/">Law</a></li>
    </ul>
  </nav>
</header>
