.about-1 {
  width:100%;
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/about-1.jpg');
  background-size: cover;
  background-position: 80% 0;
  background-repeat: no-repeat;
  @media(min-width:1024px) {
    background-position: bottom;
  }
}

.about-2 {
  font-size:18px;
}

.about-3 {
  width:75%;
  margin:auto;
  margin-bottom: 50px;
  font-size:15px;
  
  @media(max-width: 980px) {
    width: 85%;
  }
  @media(max-width: 768px) {
    width: 70%;
  }
  @media(max-width: 480px) {
    width: 100%;
  }
  > .text-holder {
    margin-left: 1%;
    width:31%;
    padding:30px;
    text-align:center;
    display:inline-block;
    vertical-align:top;
    //border:1px solid #ccc;
    &:nth-child(2) {
      @media(min-width: 768px) {  
      }
    }
    @media(max-width: 767px) {
      width: 100%;
    }
    h4 {
      color:#00a6f3;
    }
    span {
      height:80px;
      width:80px;
      display: inline-block;
      background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/sprite-icons.png');
      &.cleaver-icon {
        background-position:-100px 0;        
      }
      &.bolt-icon {
        background-position:-500px 0;        
      }
      &.real-people-icon {
        background-position:0px 0;        
      }
    }
  }
}

.about-4 {
  text-align:center;
  padding:60px;  
}

.about-5 {
  text-align:center;
  padding:40px 60px;    
  @media(max-width: 480px) {
    padding:0;
  }

  > div {
    padding:20px;
    display:inline-block;
    > img {
      height:300px;
      width:300px;
      background-color:#555;
      display:block;
      margin-bottom:8px;
    }
  }
}









