.about-1 {
  -webkit-transform: translate3d(0,0,0);
  height:45vh;
  width:100%;
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/about-1.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position:fixed;
  top:0;
  left:0;
  will-change: transform;
  z-index:-1;
  

  > p {
    position:absolute;
    bottom:100px;
    left:90px;
    max-width:720px;
    font-size:48px;
    display:block;
  }
}

.about-2 {
  margin-top:45vh;
  background-color: #fff;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 160px 0;
  h4 {
    margin-top:100px;
    margin-bottom:1em;
  }
  p {
    width:70%;
    margin:auto;
    line-height:1.8;
    
    &:nth-of-type(2) {
      margin-bottom:100px;
    }
  } 
}

.about-3 {
  background:#fff;
  h4 {
    margin:100px 0 1em 0;
  }
}

.about-4 {
  //height:100vh;
  background:rgba(255,255,255,1);
  text-align:center;
  
  > img {
    margin:120px auto 80px auto;
    display:block;
  }
  > p {
    margin:30px 0;
    font-size:48px;
  }
  ul {
    width:90%;
    height:auto;
    margin:auto;
    overflow:hidden;
    margin-bottom:120px;
    li {
      background:rgba(0,0,0,0.7);
      width:24%;
      margin-right:1%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      color:#fff;
      text-align:center;
      height:100%;
      padding-top: 100%;
      margin-top: -100%;
      padding-bottom: 100%;
      margin-bottom: -100%;
      h4 {
//        margin-bottom:1em;
        @extend .small-header;
        margin-top: 30px;
      }
      p {
        line-height:2.4;
        padding: 38px;
      }
    }
  }
}