.about-1 {
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/about-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:fixed;
  top:0;
  left:0;
}

.about-2 {
  margin-top:45vh;
  height:150vh;
  background-color: #fff;
  //background-image:url('/images/about-2.jpg');
//  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/about-2.jpg');

  background-repeat: no-repeat;
}

.about-3 {
  
}