body > footer {
  z-index:100;
  border-top:1px solid rgba(0,0,0,.2);
  font-weight:300;
  background:#fff;
  position:relative;
  
  > * {
    display:inline-block;
    vertical-align:top;
  }
  
  #contact {
    border-bottom:1px solid #ddd;
    z-index:20;
    padding-bottom:24px;
    margin-bottom:24px;
    width: 100%;
    h2 {
      width:80%;
      font-size:26px;
      color:#bbb;
      text-align:right;
      display:inline-block;
      span {
        color:#00a6f3;
      }
    }
    p {
      display:inline-block;
      background:#00a6f3;
      padding:10px 20px;
      color:#fff;
      text-align:center;
    }
  }

  .footer-info, .footer-links {
    width:30%;
  }
  
  .footer-maps {
    width:38%;
  }
  
  > div {
    border-left:1px solid rgba(0,0,0,.2);
    &:first-child {
      border:none;
      span {
        font-weight:400;
        font-style:italic;
        color:#000;
      }
    }
  }
}