body > footer {
  z-index:100;
  font-weight:300;
  background:#fff;
  position:relative;
  padding-bottom:64px;
  overflow:hidden;
  > * {
    display:inline-block;
    vertical-align:top;
  }
  
  #contact {
    text-align: right;
    z-index:20;
    //padding-bottom:24px;
    margin:64px 0;
    padding:0 64px;
    width: 100%;
    font-size:26px;
    @extend .semibold; // !optional; 
    @media(max-width: 660px) {
      text-align:center;
      padding:0;
    }
    
    h2 {
      text-align:right;
      display:inline-block;
      padding-right: 18px;
      margin-bottom: 12px;
      span {
        color:#00a6f3;
      }
      @media(max-width: 660px) {
        text-align:inherit;
        padding-right:0;      
      }
    }
    p {
      display:inline-block;
      background:#00a6f3;
      padding: 20px 50px;
      color:#fff;
      text-align:center;
      vertical-align: top;
      top: 0px;
      @media(max-width: 880px) {
        top:-6px;
        padding: 20px 30px;
      }
    }
  }

  .divider {
    margin-bottom:64px;
  }


  .footer-info {
    width:24%;
    padding:0 0 0 64px;
    border:none;
    img {
      margin-left: -38px;
    }
    @media(max-width: 959px) {
      width:49%;
    }
    @media(max-width: 660px) {
      width:0%;
    }
  }
  .footer-links {
    width:22%;
    margin-bottom:36px;
    @extend .semibold;
    li {
      padding:8px 18px;
    }
    @media(max-width: 959px) {
      width:0%;
    }
  }  .footer-maps {
    width:50%;
    text-align:left;
    padding-left: 18px;
    @media(max-width: 959px) {
      width:0%;
    }
    > div {
      display:inline-block;
      vertical-align:top;
      width:252px;
      margin:auto;
      margin-bottom:24px;
      &:first-child {
       margin-right:18px; 
      }
      a {
        img {
          width:252px;
          height:154px;
        }
      }
    }
  }
  > * {
    border-left:1px solid rgba(0,0,0,.1);
  }
}