#contact {
  background-color:#656565;
  color:#fff;
  position:relative;
  padding:30px;
  //margin-bottom:30px;
  border:20px white solid;
  h2 {
    border-bottom:1px solid #fff;
    padding-bottom:24px;
    margin-bottom:24px;
  }
  .contact-text {
   width:40%;
   float:left;
  }
  .contact-box {
    width:60%;
    float:left;
    background:#474747;
  }
}
body > footer {
  position:relative;
  z-index:100;
  margin:auto;
  padding:60px 90px;
  border-top:1px solid rgba(0,0,0,.2);
  line-height:2.2;
  min-height: 400px;
  > div {
    padding:0 40px 0 40px;
    border-left:1px solid rgba(0,0,0,.2);
    &:first-child {
      border:none;
    }
    p {
      color:#676767;
      font-weight:300;
      span {
        font-weight:400;
        font-style:italic;
        color:#000;
      }
    }
  }
}