//////// General SHIT /////////
* { box-sizing: border-box }
html { height: 100%; }

body {  
  height:100%;
  min-height: 100%;
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  -o-font-feature-settings: "onum";
  font-feature-settings: "onum"; 
}

body p {
  position:relative;
}


.hero-text {
  will-change:opacity;
}

.divider {
  position:relative;
  width:100%;
  height:1px;
  display:block;
  z-index:10;
  background:#fff;
  &:after {
    content:"";
    width: 90%;
    margin:auto;
    height:1px;
    background:#ddd;
    display:block;
  }
}



.grow-gracefully {
  height:285px;
  position:relative;
  background-color: #444;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  h2 {
    @extend .header-1;
    font-size:24px;
    background-color: rgba(43,114,144,.6);
    padding:38px;
    letter-spacing: 3px;
    color:#fff;
    position:absolute;
    bottom:40px;
    left:15%;
    line-height:1;
    text-transform:uppercase;
    @media(max-width: 660px) {
      width: 80%;
      text-align:center;
      margin-left: -40%;
      display: block;
      left: 50%;
      top: 50%;
      bottom: initial;
      margin-top: -44px;
    }
  }
}
body.home .grow-gracefully {
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/home-2.jpg');
}
body.about .grow-gracefully {
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/about-2.jpg');
  h2 {
    color:#fff;    
  }
}
body.hr .grow-gracefully {
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/hr-2.jpg');
}



.interior-hero {
  background-color: #444;
  position:relative;
  // hr, tax and law hero text
  .service-text {
    width:60%;
    text-align:center;
    margin:auto;
    position:relative;
    top:40%;
    color:#fff;
    p {
      font-size:18px;
    }
  }
}

.text-holder-1 {
  padding:60px 0;
  text-align:center;
  h4 {
  }
  p {
    margin:auto;
    line-height:1.8;
    padding:0 30px;
    @media(min-width: 480px) {
      max-width:70%;
    }    
  }
}

.hero-text {
  position:absolute;
  bottom:50px;
  left:260px;
  max-width:720px;
  font-size:60px;
  display:block;
  max-width:420px;
  h2 {
    color:#00a6f3;      
    font-size:48px;
    line-height:1;
    margin-bottom:16px;
    @media(max-width: 767px) {
      font-family:"proxima-nova-sb", 'helvetica', 'arial', sans-serif;
      font-size:24px;
    }
  }
  h3 {
    color:#fff;
    font-size:20px;
  }
  h4 {
    color:#fff;      
    @media(max-width: 767px) {
      font-family:"proxima-nova-sb", 'helvetica', 'arial', sans-serif;
      font-size:24px;
    } 
  }
  @media(max-width: 767px) {
    bottom:20px;
    padding:20px 40px;
    left:50%;
    width: 260px;
    margin-left: -130px;
    text-align:center;
    background-color:rgba(0,0,0,.7);
    &.home-hero {
      padding:40px;
    }
  }
}




section.si-icons { // mobile hamburger
  display: none;
  position: fixed;
  right: 0px;
  top:0px;
  height: 49px;
  width: 64px;
  padding:9px;
  box-sizing: initial;
  z-index: 910;
  @media(max-width: 768px) {
    display: block;      
  }
  span.si-icon {
    background:rgba(0,0,0,.5);
    //top: -40px;
    position: relative;
    //right: 54px;
    height: inherit;
    width: inherit;
    margin:0;
    svg {
      width: inherit;        
      height: inherit;
    }
  }
}


// waypoints sticky
.sticky {
  will-change: scroll-position;
}
.stuck {
  position:fixed;
  top:0;
}
.hidden {
  display:none;
}
.clear-both {
  clear:both;
}
.uppercase { text-transform: uppercase; }

.float-left {
  float:left;  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


a {
  text-decoration:none;
}
//widths
.width-28 {
  width:28%;
}
.width-33 {
  width:33%;
}
.width-38 {
  width:38%;
}
.width-48 {
  width:48%;
}
.width-52 {
  width:52%;
}
.height-38 {
  height:38%;
}
.height-62 {
  height:62%;
}

//////// Breakpoint SHIT /////////

$breakpoint-a:480px; // main mobile breakpoint
$breakpoint-b:580px; 
$breakpoint-c:768px; // main tablet breakpoint
$breakpoint-d:850px;
$breakpoint-e:980px; // main desktop breakpoint
$breakpoint-f:1440px;

//////// Breakpoint SHIT END /////////


//////// image loading SHIT /////////
/*
.animated-image {
  margin-top:50px;
  opacity:0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}
*/


//////// Colors SHIT /////////
.bg-white {
  background-color:#fff;    
}
.bg-white-95 { // 95% white
  background-color:#eeeeee;
}
.bg-white-85 { // 85% white
  background-color:#d9d9d9;
}
.bg-white-50 {
  background-color:#808080;  
}
.bg-white-35 {
  background-color:#595959;
}
.bg-white-10 {
  background-color:#1a1a1a;  
}
.bg-white-5 {
  background-color:#0d0d0d;    
}

p {
  position:relative; 
}


//////// Layout SHIT /////////
body > section { 
  overflow:hidden;
  position:relative;
}


.layout-fp { 
  height:96vh; width:100%;
  p {
    position:relative; 
  }
}// is a bit less than 100% on purpose

.layout-fp-85   { 
  height:85vh; 
  width:100%;
}
.layout-fp-70   { 
  height:70vh; 
  width:100%;
}
.layout-fp-45   { 
  height:45vh; 
  width:100%;
}


.two-files-33-66 {
  .a-file, .b-file {
    position:absolute;
    height:100%;
  }
  .a-file {
    left:0;
    width:33%;
    padding: 100px 0 0 44px;
  }
  .b-file {
    width:67%;
    left:33%;
  }
}