body > header {
  will-change:top;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:54px;
  background-color:rgba(0,0,0,.8);
  color:#fff;
  text-align:right;
  //padding:10px;
  z-index:900;
  
  @media(max-width: 768px) {
    height:auto;
    text-align:center;
    background-color:rgba(0,0,0,.9);
  }
  
  .header-logo {
    height:52px;
    top: 14px;
    position: absolute;
    left: 10px;
    display:inline-block;

    @media(max-width: 768px) {
      position:relative;
      display:block;
      height: 100px;
    }

    img {
      height: 25px;
      @media(max-width: 768px) {
        height: 40px;
        margin-top:24px;
      }
    }

  } 
  .si-icons { // mobile hamburger
    display: none;
    position: fixed;
    right: 16px;
    top:8px;
    height: 52px;
    width: 52px;
    @media(max-width: 768px) {
      display: block;      
    }
    span {
      background:rgba(0,0,0,.5);
      top: -40px;
      position: relative;
      right: 54px;
      width: 84px;
    }
  }
  > nav {
    display:inline-block;
    top: 12px;
    position:relative;
    height: 52px;
    @media(max-width: 768px) {
      display:block;
      height:700px;
      margin-bottom:36px;
    }
    > ul {
      li {
        float:left;
        padding: 4px 8px;
        font-weight: 600;
        @media(max-width: 768px) {
          float:none;
        }
        a {
          color:inherit;
          padding: 6px 9px;
          border:1px solid transparent;
          font-size: 13px;
          @media(max-width: 768px) {
            width:100%;
            display:block;
            padding:20px 8px;
            font-size:18px;
          }
          &:hover {
            @media(min-width: 1024px) {
              border:1px solid rgba(0,166,243,1);
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
          }
          &.active  {
            background:rgba(0,166,243,.6);
            &:hover {
              border:1px solid rgba(0,166,243,.1);
            }
          }
          &.fancy-nav-item {
            margin-left: 10px;
            background:rgba(5,151,231,1);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            &:hover {
              border-color:#bedeef;
            }
          }
        }
      }
    } 
  }
  
}