
body { // need to namespace this
  position:relative;
  top:96%;
  > section {
    background:#fff;
    width:100%;
    padding-bottom:60px;
  }
}


.home-1 {
  height:96%; 
  position:fixed;
  top:0;
  left:0;
  will-change: opacity;
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/home-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .down-button {
    position:absolute;
    bottom:0;
    width: 20%;
    left:50%;
    margin-left:-10%;
    opacity:.7;
    cursor:pointer;
    display:block;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    &:hover {
      opacity:1;
    }
  }
}
.home-2 {
  min-height:230px;
  background:#f5f5f5;
  padding-bottom: 0;
  > div {
    display:inline-block;
    vertical-align: middle;
  }
  .left {
    width:60%;
    padding: 60px 110px;
    @media(max-width: 959px) {
      width:100%;
    }
    @media(max-width: 420px) {
      padding: 60px 30px;
    }
  }
  .right {
    width:38%;
    text-align:center;
    min-height:230px;
    display:inline-block;
    vertical-align:top;
    background:#fff;
    float:right;
    @media(max-width: 959px) {
      width:100%;
      min-height:auto;
    }
    p {
      padding:4px 2px 0px 2px;
      color:#aaa;
    }
    > li {
      background:#f5f5f5;
      width:49%;
      display:inline-block;
      vertical-align:top;
      margin-left:-4px;//whitespace bug fix
      min-height:100px;
      padding:28px 0px;
      border: 4px solid white;
      @media(max-width: 959px) {
        width:24%;
      }
      @media(max-width: 520px) {
        width:49%;
      }
      &:nth-last-of-type(-n+2) {
        border-bottom:0px solid white;
      }
      img {
        display:inline-block;
        vertical-align:middle;
        width: 100%;
        height: auto;
      }
    }
  }
}
.home-3 {
  .quote-1 {
    color:#00a6f3;
  }
  > div {
    display:inline-block;
    width:49%;
    vertical-align: middle;
    padding: 90px 30px 50px 110px; 
    > * {
      max-width:420px;
    }
    @media(max-width: 860px) {
      padding:  75px 30px 25px 60px; 
    }
    @media(max-width: 660px) {
      width: 100%;
      padding: 60px 15% 0px 15%;
    }
  }
}

.home-4 {
  > h4 {
    text-align:center;
    margin:70px 0 40px 0;
  }
  ul {
    margin-bottom:110px;
    text-align: center;
    li {
      display:inline-block;
      margin-right:30px;
      &:last-child {
        margin-right:0px;        
      }
      > img {
        border-bottom:1px solid #ccc;
        padding-bottom:18px;
        margin-bottom:18px;        
      }
    }
  }
  > img {
    display:inline-block;
  }
  > div {
    > div {
      display:inline-block;
      vertical-align:top;
      width:49%;
      padding: 0px 80px 50px 80px;
      p {
        padding-right: 50%;
      }
      > img {
        max-width:24px;
      }
    }
    > img {
      width:49%;
      @media(max-width: 660px) {
        padding: 0px 00px 45px 260px;
      }
    }
    &#home-law {
      margin-top:-60px;
      img {
        padding-bottom:0;
      }
    }
    &#home-tax {
      text-align:right;
      > div {
        p {
          padding-left: 50%;
          padding-right:0;
        }
      }
      > img {
        padding: 0px 260px 120px 00px;
      }
    }
  }
}
.home-5 {
  text-align:center;
  padding:60px;
  @media(max-width: 660px) {
    padding:80px;
  }
}

.grow-gracefully.home {
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/home-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
