
body { // need to namespace this
  position:relative;
  top:96%;
  > section {
    background:#fff;
    width:100%;
    padding-bottom:60px;
  }
}


.home-1 {
  height:96%; 
  position:fixed;
  top:0;
  left:0;
  will-change: opacity;
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/home-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .down-button {
    position:absolute;
    bottom:0;
    width: 20%;
    left:50%;
    margin-left:-10%;
    opacity:.7;
    cursor:pointer;
    display:block;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    &:hover {
      opacity:1;
    }
  }
}
.home-2 {
  min-height:230px;

  > div {
    display:inline-block;
    vertical-align: middle;
    background:#f5f5f5;
  }
  .left {
    width:60%;
    padding: 60px 110px;
  }
  .right {
    width:38%;
    text-align:center;
    min-height:230px;
    > img {
      display:inline-block;
      width:50%;
      margin-left:-4px;//whitespace bug fix
      height:50%;
    }
  }
}
.home-3 {
  > div {
    display:inline-block;
    width:49%;
    vertical-align: middle;
    padding: 60px 110px 110px 110px; 
  }
}

.home-4 {
  > h4 {
    text-align:center;
  }
  ul {
    li {
      display:inline-block;
    }
  }
  > img {
    display:inline-block;
  }
  > div {
    > div {
      display:inline-block;
      width:49%;
      padding:120px;
    }
    > img {
      width:49%;
    }
  }
}
.home-5 {
  text-align:center;
}
.home-6 {
}
