.hr-1 {
  background-color: #158ecb;
}
.hr-2 {
  padding:90px;
  max-width:990px;
  margin:auto;
  @media(max-width:660px) {
    padding:60px 40px;
  }
  
  .graphic, .text-holder {
    display:inline-block;
    vertical-align:middle;
  }
  .graphic {
    position:relative;
    width:49%;
    img {
      display:block;
      width:100%;
      height:auto;
    }
    h6 {
      position:absolute;
      left:50%;
      top:50%;
      width:130px;
      margin:-32px 0 0 -65px;
    }
    @media(max-width:659px) {
      width:100%;
      img {
        width:290px;
        margin:auto;
        margin-bottom:40px;
      }
      h6 {
        margin:-42px 0 0 -65px;
      }
    }
  }
  .text-holder {
    padding:0 40px;
    width:50%;
    text-align:left;
    p {
      margin-bottom:24px;
    }
    
    @media(max-width:659px) {
      width:100%;
      text-align:center;
    }
    @media(max-width:420px) {
      padding:0;
    }
  }
}

















