.law-1 {
  background-color: #0e72a4;
}

.law-2 {
  padding:90px;
  max-width:990px;
  margin:auto;
  @media(max-width:660px) {
    padding:60px 40px;
  }
  
  .graphic, .text-holder {
    display:inline-block;
    vertical-align:middle;
  }
  .graphic {
    position:relative;
    width:49%;
    img {
      display:block;
      width:100%;
      height:auto;
    }
    h6 {
      position:absolute;
      left:50%;
      top:50%;
      width:130px;
      margin:20px 0 0 -62px;
    }
    @media(max-width:659px) {
      h6 {
        margin-top:-10px;
      }
      width:100%;
      img {
        width:290px;
        margin:auto;
        margin-bottom:40px;
      }
    }
  }
  .text-holder {
    padding:0 10px 0 80px;
    width:50%;
    text-align:left; 
    @media(max-width:659px) {
      width:100%;
      text-align:center;
      padding:0 40px;
    }
    @media(max-width:420px) {
      padding:0;
    }
  }
  p {
    margin-bottom:24px;
  }
}