.law-1 {
  background-color: #0e72a4;
}

.law-2 {
  text-align:center;
  padding:60px;
  @media(max-width:880px) {
    padding:30px;
  }
  ul {
    display:inline-block;
    width:90%;
    @media(max-width:880px) {
      width:100%;
    }
    li {
      width:31%;
      height:460px;
      display:inline-block;
      vertical-align:top;
      border:1px solid #e6e6e6;
      padding:100px 40px;
      margin-left:1%;
      &:first-child {
        margin-left:0px;  
      }
      img {
        width:90px;
        height:auto;
      }
      @media(max-width:660px) {
        width:100%;
        height:auto;
        margin:0 0 20px 0;
        padding:60px 40px;
      }
    }
  }
}