.service-anchor {
    display: block;
    position: relative;
    top: -154px;
    visibility: hidden;
}
.services-1 {
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/services-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:fixed;
  top:0;
  left:0;
}
.services-2 {
  height:220%;
  padding-top:36px;
  margin-top:45vh;
  background-color: #fff;
  position:relative;
  //overflow-y:scroll;
  .services-divider-line {
    height:1px;
    width:100%;
    background-color:#0597e7;
    display:block;
    position: relative;
    top: 78px;
  }
  h2 {
    margin:12px 0;
    font-size:36px;
    color:#0597e7;
  }
  nav {
    width:100%;
    background:#fff;
    z-index:10;
    ul { 
      width:768px;
      margin:auto;
      @extend .clearfix;
      li {
        float:left;
        position:relative;
        width:33%;
        margin:.5em 0;
        margin-bottom:.5em;
        @extend .small-header;
        
        img.service-icon-active {
          z-index:110;
          position:absolute;
          left:50%;
          margin-left:-33px;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
         // transform: scale(.1);
        //  opacity:0;
        }
        
        &.active {
          img.service-icon-active {
            display:block;
            transform: scale(1);
          //  opacity:1;
          }
        }
      }
    }    
  }
  #law-img {
    background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/services-law.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #tax-img {
    background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/services-tax.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  > section {
    height:55vh;
    > div {
      height:100%;
      position:relative;
      
      .text-holder {
        width: 300px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
        height:160px;
        top:50%;
        margin-top:-80px;
        font-weight:300;
        p {
         //line-height:1.6;
         color:#888;
         font-style:italic;
         span {
           color:initial;
           font-style:initial;
         }
        }
        
        .headline-1 {
          margin-bottom:.5em;
        }
      }
    }
  
    &#services-hr {
      > div {
        height:100%;
        &#hr-img {
          background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/services-hr.jpg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  
  .service-icon {
    display: block;
    height: 66px;
    width: 66px;
    margin: auto;
    position:relative;
    z-index:100;
  }
  
  > section {
    clear:both;
  }
}
