.hr-1 {
  background-color: #00a6f3;
}
.hr-2 {
  .graphic, .text-holder {
    display:inline-block;
    vertical-align:middle;
  }
  .graphic {
    padding:40px;
    max-width:48%;
    height:auto;
  }
  .text-holder {
    padding:0 40px;
    width:50%;
    text-align:left;
  }
}



.law-1 {
  background-color: #00a6f3;
}



.tax-1 {
  background-color: #00a6f3;
}