@font-face {
    font-family: 'proxima-nova-sb';
    src: url('../fonts/ProximaNova-Semibold.otf');
      // src: url('../fonts/evelethicons-webfont.eot?#iefix') format('embedded-opentype'),
      //  url('../fonts/evelethicons-webfont.woff') format('woff'),
      // url('../fonts/evelethicons-webfont.ttf') format('truetype'),
      // url('../fonts/evelethicons-webfont.svg#evelethicons') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova-sb-it';
    src: url('../fonts/ProximaNova-SemiboldItalic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'proxima-nova-lt';
    src: url('../fonts/ProximaNova-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova-lt-it';
    src: url('../fonts/ProximaNova-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

// stuff
body {
  color:#555;
  line-height:1.4;
  font-family:"proxima-nova-lt", 'helvetica', 'arial', sans-serif;
  p {
    @media(max-width: 660px) {
      font-size:larger;
    }
  }
  a {
    @media(max-width: 660px) {
      font-size:larger;
    }
  }
}

//fonts
.header-1 { //vinyl-regular, 24, tracked out
  font-family:"proxima-nova-sb", 'helvetica', 'arial', sans-serif;
  font-size:18px;
  @media(max-width: 660px) {
    font-size:x-large;
  }
}
.header-2 { //vinyl-regular, 24, tracked out
  font-family:"proxima-nova-sb", 'helvetica', 'arial', sans-serif;
  font-size:24px;
  @media(max-width: 660px) {
    font-size:x-large;
  }
}
.quote-1 { //vinyl-regular, 24, tracked out
  font-family:"proxima-nova-lt-it", 'helvetica', 'arial', sans-serif;
  font-size:24px;
  font-style: italic;
  @media (max-width: 480px) {
    font-size: xx-large;      
  }
}
.semibold {
  font-family: 'proxima-nova-sb';
  font-weight: 600;
}
.italic {
  font-family:"proxima-nova-lt-it", 'helvetica', 'arial', sans-serif;
  font-style: italic;
}
