//load fonts
@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../fonts/BebasNeue-Bold.otf'); 
  font-weight: bold;
  font-style: normal;
}

body {
  color:#555;
  line-height:1.4;
  font-family:"Open Sans";
}


//dumb type rules
.light {
  font-weight:300;
}
.semibold {
  font-weight:600;
}
.bold {
  font-weight:700;
}
.italic {
  font-style:italic;
}
.strikethru {
  text-decoration: line-through;
}
//dumb sizes
.font-size-36 {
  font-size:36px;
}

.twenty-point {
  font-size:20px;
}
//dumb colors
.text-black {
  color:#000;
}
.text-white {
  color:#fff;
}
.blue-text {
  color:#0497e7;
}
.text-white-85 {
  color:#d9d9d9;
}

//fonts
.tiny-header { //vinyl-regular, 24, tracked out
  font-family:"BebasNeue-Bold";
  font-size:16px;
  letter-spacing:3px;
  text-transform:uppercase;
  margin-bottom:1em;
}
.small-header { //vinyl-regular, 24, tracked out
  font-family:"BebasNeue-Bold";
  font-size:24px;
  letter-spacing:4px;
  text-transform:uppercase;
}
.body-copy { //proxNova-light, 20
  font-family:"Open Sans";
  font-size:14px;
}
.body-copy-display { //proxNova-light, 20
  font-family:"Open Sans";
  font-size:16px;
  line-height:3.2;
}
.body-copy-display-bold { //proxNova, bold
  
}
.type-on-a-circle {
  
}
.big-display-header { //proxNova, bold
  font-family:"Open Sans";
  font-size:36px;
  font-weight:300;
}
.headline-1 {
  font-family:"Open Sans";
  font-size:24px;
  font-weight:700; 
  span.service {
    color:#0597e7;
    //letter-spacing:1px;
    //font-style:italic;
  }
}
///layout
.text-center {
  text-align:center;
}
