.ventures-1 {
  width:100%;
  background-image:url('http://flanban.github.io/redolent-octo-kumquat/images/ventures-1.jpg');
  background-size: cover;
  background-position: 80% 0;
  background-repeat: no-repeat;
  @media(min-width:1024px) {
    background-position: bottom;
  }  
}

.ventures-2 {
  padding:120px;
}