<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body{% if page.slug %} class="{{ page.slug }}"{% endif %}>
    
    {% include header.html %}
    
    {{ content }}
    
    {% include bottom-promo.html %}
    
    {% include footer.html %}
    
  </body>
</html>

<script>




	(function() {
		// initialize all icons
		[].slice.call( document.querySelectorAll( '.si-icons-default > .si-icon' ) ).forEach( function( el ) {
			var svgicon = new svgIcon( el, svgIconConfig );
		} );
	})();
</script>
